*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}
header>.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{/*-Quando coloca o cursor no objeto-*/
    color: white;
    transform:scale(1.05);/*-Zoom-*/
} 
header nav ul{
    list-style-type:none;
}
header nav ul li{
    display: inline-block;
    padding: 0px 90px;
    font-size: 20px;
}
.btn_contato button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
button:hover, form .btn_enviar input:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}
section.topo_site{
    padding: 5vw 4%;
    margin-bottom: 150px;
    
}
.flex{
    display: flex;
}
section.topo_site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
} 
.topo_site h1{
    color: white;
    font-size: 42px;
}
.topo_site .lado_esq h1 span{
    color: #00ff08;
}
.topo_site .lado_esq p{
    color: white;
    margin: 40px 0px;
    font-size: 25px;
}
.topo_site .image img{
    width: 25vw;
    border-radius: 40%;
    border: 3px solid #5c5c5c;
    box-shadow: 0px 5px 20px #00ff08;
    position: relative;
    animation: flutuar 2s ease-in-out /*<-velocidade do objeto*/ infinite alternate;
}
@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:40px;
    }
}
section .desejos{
    padding: 5vw 4%;
}
section.desejos .flex{
    gap: 60px;
}
h2.titulo{
    color: #00ff08;
    font-size: 38px;
    text-align: center;
    letter-spacing: 6px;
    font-weight: 700;
}
h2.titulo span{
    color: white;
}
.desejos .desejos_box{
    color: white; 
    padding: 30px 50px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}
.desejos .desejos_box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.41);
}
.desejos .desejos_box i{
    font-size: 70px;
    color: #00ff08;
}
.desejos .desejos_box h3{
    font-size: 28px;
    margin: 15px 0;
}
.desejos .desejos_box p{
    word-spacing: 3px;
}
section.sobre{
    padding: 5vw 4%;
    margin-top: 150px;
    box-shadow: 0 0 40px 10px #ffffff1d;
}
.sobre .image_sobre img{
    width: 25vw;
    border: 3px solid rgba(255, 255, 255, 0.47);
    border-radius: 30px;
    box-shadow: 0px 0px 20px #00ff08;
}
.sobre .txt_sobre{
    color: white;
}
section.sobre .flex{
    align-items: center;
    gap:70px;
}
.sobre .txt_sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt_sobre h2 span{
    color: #00ff08;
    display: block;
}
.sobre .txt_sobre p{
    margin: 10px 0;
    text-align: justify;
}
 .btn_social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #00ff08;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 8px;
    transition: .2s;
}
section.formulario{
    padding: 5vw 4%;
    margin-top: 55px;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    margin-top: 40px;
}
form input, form textarea{
    width: 100%;
    background-color: rgb(58, 58, 58);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}
form input::placeholder{
    color: #00ff0883;
}
form textarea::placeholder{
    color: #00ff0883;
}
form textarea{
    resize: none;
    height: 200px;
}
form .btn_enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn_enviar input{
    width: 120px;
    background-color: #00ff08;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}
footer .logo_footer img{
    width: 100px;
    border-radius: 50px;
    border: 3px solid #000000;
    box-shadow:0px 2px 5px #00ff08 ;
}
footer{
    padding: 5px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}
footer .flex{
    justify-content: space-between;
}
.borda{
    border-top: 2px solid #00ff08;
}
footer .linha_footer{
    padding: 20px 0;
}
footer .linha_footer p i{
    color: #00ff08;
    font-size: 25px;
}
footer .linha_footer p a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}